.wrapper {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    .container-1 {
        display: grid;
        grid-template-rows: 1fr repeat(5, 0.1fr);
        justify-items: center;

        .container-1__pic-box {
            width: 100%;
            text-align: center;


            .container-1__pic-book-1 {
                max-width: 100%;
            }
        }

        .container-1__text-book-title,
        .container-1__text-price {
            font-size: 1.563em;
            font-family: 'Playfair Display', 'serif';
            font-weight: 700;
            color: rgba(0, 0, 0, 1);
        }

        .container-1__text-edition {
            font-family: 'Montserrat', 'serif';
            font-size: 0.75em;
            font-weight: 400;
            color: rgba(130, 130, 130, 1);
        }

        .container-1__text-author-box,
        .container-1__text-about {
            font-family: 'Montserrat', 'serif';
            font-size: 1em;
            font-weight: 400;
        }

        .container-1__text-about {
            line-height: 1.5em;
        }


    }

    .container-2 {
        display: grid;
        height: 30%;
        justify-items: center;

        .container-2__btn-add-to-cart,
        .container-2__btn-wishlist {
            border: none;
            border-radius: 0.5em;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);
            font-family: 'Montserrat', 'serif';
            font-size: 1em;
            font-weight: 600;
            height: 2.5em;
            width: 18.5em;

        }


        .container-2__btn-add-to-cart {
            background-color: rgba(217, 111, 110, 1);
        }

        .container-2__btn-wishlist {
            background-color: rgba(243, 164, 146, 1);
            margin-top: 0.5em;

        }

        .container-2__text-publisher {
            font-family: 'Montserrat', 'serif';
            font-size: 0.75em;
            font-weight: 400;
            color: rgba(130, 130, 130, 1);
        }

        .container-2__text-genres,
        .container-2__text-share {

            font-family: 'Montserrat', 'serif';
            font-size: 1em;
            font-weight: 700;
            color: rgba(79, 79, 79, 1);

        }

        .container-2__text-genres-box {
            margin-bottom: -1.5em;
        }

        .container-2__btns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.625em;

            .container-2__btns-today {
                height: 2em;
                width: 11em;
                background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);

            }

            .container-2__btns-fiction {
                height: 2em;
                width: 12em;
                background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);

            }

            .container-2__btns-today,
            .container-2__btns-fiction {
                font-family: 'Montserrat', 'serif';
                font-size: 0.75em;
                font-weight: 700;
                color: rgba(255, 255, 255, 1);
                border-radius: 0.5em;
                border: none;

            }

        }

        .container-2__text-share-box {
            margin-bottom: -1.5em;
        }

        .container-2__icons-social {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            gap: 1.25em;
        }

    }

    .container-3 {
        display: grid;
        justify-items: center;


        .container-3__text-title,
        .container-3__books-1-name,
        .container-3__books-2-name,
        .container-3__books-3-name {

            font-family: 'Playfair Display', 'serif';
            font-size: 1em;
            font-weight: 700;
            color: rgba(0, 0, 0, 1);

        }



        .container-3__text-title {
            font-size: 1.25em;
        }

        .container-3__books {
            display: grid;
            gap: 0.5em;
            height: 30%;
            grid-template-columns: repeat(3, 1fr);
            margin-left: 6em;
        }

        .container-3__books-1-author,
        .container-3__books-2-author,
        .container-3__books-3-author {
            font-family: 'Montserrat', 'serif';
            font-size: 0.75;
            font-weight: 400;
            color: rgba(130, 130, 130, 1);
        }

        .container-3__books-1-price,
        .container-3__books-2-price,
        .container-3__books-3-price {
            font-family: 'Montserrat', 'serif';
            font-size: 0.75em;
            font-weight: 600;
            color: rgba(217, 111, 110, 1);

        }
    }




}