header {
  display: grid;
  grid-template-rows: 8vh;
  grid-template-columns: 1fr 0.1fr 0.1fr;
  align-items: center;
  box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);
}

header #header_button_back {
  margin-left: 10%;
}

header button {
  border-color: #FFFFFF !important;
  background-color: #FFFFFF !important;
  border-style: none;
}

header #header_button_loupe {
  margin-right: 25px;
}

header #header_button_bag {
  margin-right: 25px;
}

.wrapper {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper__container-1 {
  margin-top: 5%;
  display: grid;
  justify-items: center;
}

@media screen and (max-width: 320px) {
  .wrapper__container-1 {
    grid-template-rows: 13.5em 5em 2em 1.2em 3em 6em;
  }
}

@media screen and (min-width: 321px) {
  .wrapper__container-1 {
    grid-template-rows: 13.5em 2.5em 2em 1.2em 3em 7em;
  }
}

.wrapper__container-1__pic-box {
  width: 100%;
  text-align: center;
}

.wrapper__container-1__pic-box__book-1 {
  max-width: 100%;
}

.wrapper__container-1__text-book-title,
.wrapper__container-1__text-price {
  text-align: center;
  font-size: 1.563em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: black;
}

.wrapper__container-1__text-edition {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  color: #828282;
}

@media screen and (max-width: 320px) {

  .wrapper__container-1__text-author,
  .wrapper__container-1__text-about {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
  }

  .wrapper__container-1__text-author__link,
  .wrapper__container-1__text-about__link {
    color: #53889D;
  }
}

@media screen and (min-width: 321px) {

  .wrapper__container-1__text-author,
  .wrapper__container-1__text-about {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
  }

  .wrapper__container-1__text-author__link,
  .wrapper__container-1__text-about__link {
    color: #53889D;
  }
}

.wrapper__container-2 {
  display: grid;
  height: 30%;
  justify-items: center;
}

.wrapper__container-2__btn-add-to-cart,
.wrapper__container-2__btn-wishlist {
  border: none;
  border-radius: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  height: 2.5em;
  width: 18.5em;
}

.wrapper__container-2__btn-add-to-cart {
  background-color: #D96F6E;
}

.wrapper__container-2__btn-wishlist {
  background-color: #F3A492;
  margin-top: 0.5em;
}

.wrapper__container-2__text-publisher {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  color: #828282;
  margin-top: 3vh;
}

.wrapper__container-2__text-genres-box {
  margin-bottom: -1.5em;
  margin-top: -1.5em;
}

.wrapper__container-2__text-genres-box__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #4F4F4F;
}

.wrapper__container-2__btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625em;
}

.wrapper__container-2__btns__today {
  height: 2em;
  width: 11em;
  background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
}

.wrapper__container-2__btns__fiction {
  height: 2em;
  width: 12em;
  background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
}

.wrapper__container-2__btns__today,
.wrapper__container-2__btns__fiction {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 0.5em;
  border: none;
}

.wrapper__container-2__text-share-box {
  margin-bottom: -1.5em;
}

.wrapper__container-2__text-share-box__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #4F4F4F;
}

.wrapper__container-2__icons-social {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 1.25em;
}

.wrapper .container-3 {
  margin-top: 0.5em;
  margin-bottom: 2em;
  display: grid;
}

.wrapper .container-3__text-title {
  font-family: "Playfair Display", serif;
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  margin-left: 15px;
}

.wrapper .container-3__books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: auto;
  scroll-snap-type: x proximity;
  max-width: 90vw;
  margin-left: 15px;
}

.wrapper .container-3__books__item {
  scroll-snap-align: start;
  margin-right: 15px;
}

.wrapper .container-3__books__item__name {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-weight: 700;
  color: black;
}

.wrapper .container-3__books__item__author {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  color: #828282;
  margin-top: -12px;
}

.wrapper .container-3__books__item__price {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  color: #D96F6E;
  margin-top: -9px;
}

/*# sourceMappingURL=book_page.css.map */