header {
    display: grid;
    grid-template-rows: 8vh;
    grid-template-columns: 1fr 0.1fr 0.1fr;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(78, 55, 55, 0.15);

    #header_text {
        font-size: 16px;
        color: #4F4F4F;
        font-family: 'Montserrat', sans-serif;
        margin-left: 25px;
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: start;
        font-weight: 800;
    }

    button {
        border-color: white !important;
        background-color: white !important;
        border-style: none
    }

    #header_button_loupe {
        margin-right: 25px;
    }

    #header_button_bag {
        margin-right: 25px;
    }
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;

    .profile_about {
        grid-row: 1/2;
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 170px 50px 20px 100px;
        grid-template-columns: 1fr;

        #profile_about_img {
            display: grid;
            grid-row: 1/2;
            grid-column: 1/2;
            align-items: end;
            justify-items: center;
        }

        #profile_about_name {
            display: grid;
            grid-row: 2/3;
            grid-column: 1/2;
            align-items: end;
            font-size: 31.25px;
            font-family: 'Playfair Display', serif;
            justify-items: center;
        }

        #profile_about_place {
            display: grid;
            grid-row: 3/4;
            grid-column: 1/2;
            font-size: 10px;
            font-family: 'Montserrat', sans-serif;
            color: #828282;
            letter-spacing: 0.16em;
            justify-items: center;
            align-items: end;
        }

        .profile_about_statistic {
            display: grid;
            grid-template-rows: 45px 45px;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: end;
            margin-top: -7px;

            #profile_about_statistic_following {
                grid-row: 1/2;
                grid-column: 1/2;
                font-family: 'Montserrat', sans-serif;
                font-size: 10px;
                margin-left: 80px;

            }

            #profile_about_statistic_following_count {
                grid-row: 2/3;
                grid-column: 1/2;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 20px;
                margin-left: 80px;
                margin-bottom: 15px;
            }

            #profile_about_statistic_followers {
                grid-row: 1/2;
                grid-column: 2/3;
                font-family: 'Montserrat', sans-serif;
                font-size: 10px;
                margin-right: 80px;
            }

            #profile_about_statistic_followers_count {
                grid-row: 2/3;
                grid-column: 2/3;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 20px;
                margin-right: 80px;
                margin-bottom: 15px;
            }
        }
    }

    .genres {
        display: grid;
        grid-template-rows: 30px 45px;
        grid-template-columns: 1fr;
        margin-left: 20px;

        #genres_text {
            grid-row: 1/2;
            grid-column: 1/2;
            color: #333333;
            font-weight: 800;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
        }

        .genres_buttons {
            grid-column: 1/2;
        }

        #genres_buttons_1 {
            background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
        }

        #genres_buttons_2 {
            background: linear-gradient(90deg, #F3A492 0%, #D96F6E 100%), #C4C4C4;
        }

        #genres_buttons_3 {
            background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
        }

        #genres_buttons_4 {
            background: linear-gradient(90deg, #F2D05C 0%, #F3A492 100%);
        }

        #genres_buttons_5 {
            background: linear-gradient(90deg, #BBD1D9 0%, #F2D05C 92.86%);
        }

        #genres_buttons_6 {
            background: linear-gradient(90deg, #D96F6E 0%, #F2D05C 100%);
        }

        #genres_buttons_7 {
            background: linear-gradient(90deg, #53889D 0%, #BBD1D9 100%);
        }

        button {
            border-color: white !important;
            border-style: none;
            margin-right: 7px;
            margin-top: 7px;
            border-radius: 8px;
            color: white;
            font-weight: bold;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            padding: 6px 18px;
            font-weight: 600;
        }
    }
}